body{
  background-image: linear-gradient(rgba(49, 146, 19, 0.788), rgba(22, 14, 129, 0.507));
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
h1 {
  color: rgb(27, 63, 6);
  background-color: rgba(22, 204, 22, 0.267);
  border: 2px dotted rgb(51, 180, 33);
}
h2 {
  color: rgb(56, 99, 31);
  
}